.car-page-container {
    display: flex;
    flex-direction: row; /* Align items side by side */
    gap: 20px; /* Add some space between the list and the map */
    padding: 20px;
    height: 100vh; /* Full viewport height */
}

.car-list-section {
    flex: 1; /* This will take up 1/3 of the width */
    overflow-y: auto; /* Allows scrolling if the list is long */
    box-sizing: border-box;
}

.map-section {
    flex: 2; /* This will take up 2/3 of the width */
    height: 100%; /* Ensures the map takes up the full height */
  }